In [9]:
import pandas as pd
import numpy as np

In [10]:
import os

In [11]:
directory = '1_movies_per_genre'

files = os.listdir(directory)

for file in files:
    print(file)

Action.csv
Adventure.csv
Animation.csv
Biography.csv
Comedy.csv
Crime.csv
Drama.csv
Fantasy.csv
History.csv
Horror.csv
Music.csv
Mystery.csv
Romance.csv
Sci-Fi.csv
Sport.csv
Thriller.csv
War.csv

In [12]:

directory = '1_movies_per_genre'
main_dataset = pd.DataFrame()

files = os.listdir(directory)

for file in files:
    file_path = os.path.join(directory, file)
    dataset = pd.read_csv(file_path)
    main_dataset = pd.concat([main_dataset, dataset], ignore_index=True)

print(main_dataset)

                                                   name  year movie_rated  \
0                                       The Dark Knight  2008       PG-13
1                                             Inception  2010       PG-13
2                                            The Matrix  1999           R
3     The Lord of the Rings: The Fellowship of the Ring  2001       PG-13
4                                 The Dark Knight Rises  2012       PG-13
...                                                 ...   ...         ...
1695                                           Catch-22  1970           R
1696                                     The Great Raid  2005           R
1697                                Saints and Soldiers  2003       PG-13
1698                                          Stop-Loss  2008           R
1699                                          The Alamo  2004       PG-13

     run_length                       genres            release_date  rating  \
0      2h 32min       Action; Crime; Drama;       18 July 2008 (USA)     9.0
1      2h 28min  Action; Adventure; Sci-Fi;       16 July 2010 (USA)     8.8
2      2h 16min             Action; Sci-Fi;      31 March 1999 (USA)     8.7
3      2h 58min   Action; Adventure; Drama;   19 December 2001 (USA)     8.8
4      2h 44min          Action; Adventure;       20 July 2012 (USA)     8.4
...         ...                          ...                     ...     ...
1695    2h 2min         Comedy; Drama; War;       24 June 1970 (USA)     7.1
1696   2h 12min         Action; Drama; War;     12 August 2005 (USA)     6.7
1697   1h 30min         Action; Drama; War;      25 March 2005 (USA)     6.7
1698   1h 52min                 Drama; War;      28 March 2008 (USA)     6.4
1699   2h 17min        Drama; History; War;       9 April 2004 (USA)     6.0

      num_raters  num_reviews  \
0        2224522         6836
1        1981675         3820
2        1619761         4281
3        1609165         5365
4        1470329         2979
...          ...          ...
1695       21424          145
1696       20965          194
1697       19730          163
1698       19456          102
1699       19290          306

                                             review_url
0     https://www.imdb.com/title/tt0468569/reviews/_...
1     https://www.imdb.com/title/tt1375666/reviews/_...
2     https://www.imdb.com/title/tt0133093/reviews/_...
3     https://www.imdb.com/title/tt0120737/reviews/_...
4     https://www.imdb.com/title/tt1345836/reviews/_...
...                                                 ...
1695  https://www.imdb.com/title/tt0065528/reviews/_...
1696  https://www.imdb.com/title/tt0326905/reviews/_...
1697  https://www.imdb.com/title/tt0373283/reviews/_...
1698  https://www.imdb.com/title/tt0489281/reviews/_...
1699  https://www.imdb.com/title/tt0318974/reviews/_...

[1700 rows x 10 columns]

In [13]:
main_dataset.head()

,name,year,movie_rated,run_length,genres,release_date,rating,num_raters,num_reviews,review_url
0,The Dark Knight,2008,PG-13,2h 32min,Action; Crime; Drama;,18 July 2008 (USA),9.0,2224522,6836,https://www.imdb.com/title/tt0468569/reviews/_...
1,Inception,2010,PG-13,2h 28min,Action; Adventure; Sci-Fi;,16 July 2010 (USA),8.8,1981675,3820,https://www.imdb.com/title/tt1375666/reviews/_...
2,The Matrix,1999,R,2h 16min,Action; Sci-Fi;,31 March 1999 (USA),8.7,1619761,4281,https://www.imdb.com/title/tt0133093/reviews/_...
3,The Lord of the Rings: The Fellowship of the Ring,2001,PG-13,2h 58min,Action; Adventure; Drama;,19 December 2001 (USA),8.8,1609165,5365,https://www.imdb.com/title/tt0120737/reviews/_...
4,The Dark Knight Rises,2012,PG-13,2h 44min,Action; Adventure;,20 July 2012 (USA),8.4,1470329,2979,https://www.imdb.com/title/tt1345836/reviews/_...

In [14]:
df = main_dataset.copy()

In [15]:
df.shape

(1700, 10)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1700 non-null   object
 1   year          1700 non-null   int64
 2   movie_rated   1700 non-null   object
 3   run_length    1700 non-null   object
 4   genres        1700 non-null   object
 5   release_date  1700 non-null   object
 6   rating        1700 non-null   float64
 7   num_raters    1700 non-null   int64
 8   num_reviews   1700 non-null   int64
 9   review_url    1700 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 132.9+ KB

In [17]:
df.isnull().sum()

name            0
year            0
movie_rated     0
run_length      0
genres          0
release_date    0
rating          0
num_raters      0
num_reviews     0
review_url      0
dtype: int64

In [19]:
df.columns

Index(['name', 'year', 'movie_rated', 'run_length', 'genres', 'release_date',
       'rating', 'num_raters', 'num_reviews', 'review_url'],
      dtype='object')

In [20]:
df.describe()

              year       rating    num_raters   num_reviews
count  1700.000000  1700.000000  1.700000e+03   1700.000000
mean   2002.798235     7.457706  4.134152e+05   1003.601176
std      14.359010     0.736682  3.277902e+05   1045.584805
min    1915.000000     3.500000  1.929000e+04    102.000000
25%    1999.000000     7.000000  1.812258e+05    393.750000
50%    2006.000000     7.600000  3.445890e+05    719.500000
75%    2012.000000     8.000000  5.722170e+05   1256.500000
max    2020.000000     9.300000  2.258845e+06  10279.000000